/* Importation des polices Google Fonts pour la typographie Roboto et Lato*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
	/* grandeurs de police */
	--police-tres-petit: 16px;
	--police-petit: 18px;
	--police-moyen-petit: 24px;
	--police-moyen: 30px;
	--police-moyen-grand: 35px;
	--police-grand: 40px;
	--police-tres-grand: 70px;
	--police-enorme: 80px;
	--police-enorme-moyen:88px;
	--police--rare :91px;


	/* border-radius */

	--bordure-tres-petit: 2px;
	--bordure-petit: 5px;
	--bordure-moyen: 10px;
	--bordure-grand: 15px;
	--bordure-tres-grand: 20px;
	--bordure-enorme: 25px;


	/* espaces */
	--espace-tres-petit: 5px;
	--espace-petit-moyen: 8px;
	--espace-petit: 10px;
	--espace-moyen-petit: 15px;
	--espace-moyen: 20px;
	--espace-grand: 25px;
	--espace-tres-grand: 50px;
	--espace-enorme: 60px;

	
}

@media (max-width: 1024px) {
	body {
		/* grandeurs de police */
		--police-tres-petit: 15px;
		--police-petit: 17px;
		--police-moyen-petit: 20px;
		--police-moyen: 24px;
		--police-moyen-grand: 28px;
		--police-grand: 32px;
		--police-tres-grand: 56px;
		--police-enorme: 75px;
	}
}

@media (max-width: 768px) {
	body {
		/* grandeurs de police */
		--police-tres-petit: 16px;
		--police-petit: 18px;
		--police-moyen-petit: 18px;
		--police-moyen: 24px;
		--police-moyen-grand: 30px;
		--police-grand: 25px;
		--police-tres-grand: 44px;
		--police-enorme: 65px;
	}
}

@media (max-width: 540px) {
	body {
		/* grandeurs de police */
		--police-tres-petit: 14px;
		--police-petit: 16px;
		--police-moyen-petit: 17px;
		--police-moyen: 18px;
		--police-moyen-grand: 22px;
		--police-grand: 30px;
		--police-tres-grand: 42px;
		--police-enorme: 60px;
	}
}

body {
	font-family: var(--roboto-regular);
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
}

h1 {
	font-size: var(--police-tres-grand);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: italic;
}

h2 {
	font-size: var(--police-moyen-grand);
	margin-bottom: var(--espace-petit);
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: italic;

}

h3 {
	font-size: var(--police-petit); 
    margin: var(--espace-petit-moyen) 0;
    text-align: justify;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: italic;
}

h4 {
	font-size: var(--police-moyen-grand);
	font-family: var(--serif-soustitre);
}

h5 {
	font-size: var(--police-moyen);
	font-family: var(--serif-soustitre);
}

h6 {
	font-size: var(--police-moyen-petit);
	font-family: var(--serif-soustitre);
}

p {
	font-size: var(--police-petit);
}
